report02-LocalSearch/__pycache__/problems.cpython-38.pyc
.vscode/settings.json
*/__pycache__/
*/.ipynb_checkpoints
.idea
*.png
*.txt
*/checkpoints
*/tensorboard
*/amazon_summaries_embedding
*/ml-10M100K
*/movielens10_tags_embedding
*.h5
*.gz
*.jpg
*.csv
*.joblib
*.pkl
report06-Recommender/movielens10_users_embedding
report07-ML_benchmark/sonar.all-data
